<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Add User</h1>
  <div class="col-6 offset-3">
    <form action="/profiles" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label
        ><input
          class="form-control"
          type="text"
          id="name"
          name="profile[name]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="profile[image]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label
        ><input
          class="form-control"
          type="text"
          id="title"
          name="profile[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="quote">Favorite Quote:</label
        ><input
          class="form-control"
          type="text"
          id="quote"
          name="profile[quote]"
        />
      </div>
      <hr />

      <!-- Questions -->
      <div class="mb-3">
        <h5>
          What does a typical day look like as a developer with Station 8 look
          like?
        </h5>

        <label class="form-label" for="questionOne"></label>
        <textarea
          class="form-control"
          type="text"
          id="questionOne"
          name="profile[questionOne]"
          placeholder="Your thoughts here:"
        >
        </textarea>
      </div>
      <hr />
      <div class="mb-3">
        <h5>What are some project I would work on at Station 8?</h5>
        <label class="form-label" for="questionTwo"></label>
        <textarea
          class="form-control"
          type="text"
          id="questionTwo"
          name="profile[questionTwo]"
          placeholder="Your thoughts here:"
        ></textarea>
      </div>
      <hr />
      <div class="mb-3">
        <h5>What does your ideal candidate look like?</h5>
        <label class="form-label" for="questionThree"></label>
        <textarea
          class="form-control"
          type="text"
          id="questionThree"
          name="profile[questionThree]"
          placeholder="Your thoughts here:"
        ></textarea>
      </div>
      <hr />
      <div class="mb-3">
        <h5>What are some of the challenges that this position would face?</h5>
        <label class="form-label" for="questionFour"></label>
        <textarea
          class="form-control"
          type="text"
          id="questionFour"
          name="profile[questionFour]"
          placeholder="Your thoughts here:"
        ></textarea>
      </div>
      <hr />
      <div class="mb-3">
        <h5>Who would I work closely with?</h5>
        <label class="form-label" for="questionFive"></label>
        <textarea
          class="form-control"
          type="text"
          id="questionFive"
          name="profile[questionFive]"
          placeholder="Your thoughts here:"
        ></textarea>
      </div>
      <hr />
      <div class="mb-3">
        <h5>What is your favorite office tradition?</h5>
        <label class="form-label" for="questionSix">Answer</label>
        <textarea
          class="form-control"
          type="text"
          id="questionSix"
          name="profile[questionSix]"
          placeholder="Your thoughts here:"
        ></textarea>
      </div>

      <div class="mb-3"><button class="btn btn-success">Add User</button></div>
    </form>
    <a class="btn btn-primary" href="/profiles">All Users</a>
  </div>
</div>
