<% layout('layouts/boilerplate') %>

<h1>Jake Hollcroft</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Cover Letter to Station 8
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
        <p>Station 8 team, <br><br>

            I appreaciate you taking the time to take a look at this website and consider me for a position with Station 8. 
            I wanted to go over a few details about me outlined below.  Firstly, I would like to say that I have wanted to work 
            with Station 8 for a few years now and have tried very hard to improve myself to match a level as good quality as 
            the Station 8 team.
        </p>

        <p>
            I have experience with:
                <ul>
                    <li>Building dynamic websites using
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>NodeJS</li>
                            <li>Express</li>
                            <li>MongoDB</li>
                            <li>Mongoose</li>
                            <li>Bootstrap</li>
                            <li>And other tools...</li>
                        </ul>
                    </li>
                    <li>
                        Building Windows forms using
                        <ul>
                            <li>
                                Visual Studio
                            </li>
                            <li>
                                C#
                            </li>
                        </ul>
                    </li>
                    <li>
                        I am becoming familiar with new technologies such as:
                    </li>
                <ul>
                    <li>Gatsby</li>
                    <li>React.JS</li>
                    <li>CMSs - Contentful</li>
                </ul>
            <li>I have a good understanding of GitHub</li>
        </ul>
    </p>
    <p>
        I pride myself on always learning new things, new languages, and new ways to program.  My ultimate goal
        is to work as a developer with Station 8, and know that I will always need to learn new things to accomplish
        this, so that I can match the ever-changing world of programming and web development.
    </p>

    <p>
        Aside from my professional self, I find myself to be goofy when I need to be, serious when I need to be, and love
        to have fun and get along with co-workers.  I hope this is the type of candidate you wish to work with.
    </p>
    <p>Thank you,<br><br><br>Jake Hollcroft</p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Work Experience
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h5>Software Engineer</h5>
        <h5>BDO LLP, USA</h5>
        <p>January 2020 - Present</p>

        <p>
            I am a member of the SALT (Sales and Local Tax) team.  I interact with clients on a daily basis and support
            them in setting up tax software to collect and remit online sales tax to local and state governments.
            I also debug XML files and code.
        </p>

        <p>
            I work as a back-end developer paraprofessional creating APIs using SOAP and REST calls in C#.  I also
            assist in writing Microsoft Excel macros.  Another duty is to set up tax engine configurations such as Vertex
            and Avalera.
        </p>

        <p>
            I also map clients' products and product requirements to appropriate tax codes and logic so they will be taxed
            appropriately.  Another function of my position is working with connectors and ERPs to tax engines.
        </p>

        <br>
        <h5>Administration Center Representative</h5>
        <h5>American Airlines</h5>
        <p>January 2018 to January 2020</p>

        <p>
            I was a member of the Maintenance Team within the Integrated Operations Division.  I was responsible for providing
            clerical administration support for the Tulsa Maintenance Base team members.
        </p>

        <p>
        <i>Leadership:</i>
        <ul>
            <li>Afternoon shift "Subject Matter Expert"</li>
            <li>Lead the afternoon shift within the administration department in regards to all desks and responsibilities</li>
            <li>Attend meetings to discuss projects, assignments, plan strategies, and suggest improvements</li>
            <li>Prepare and maintain various department reports, including weekly headcount reports</li>
            <li>SOP (technical) writing</li>
            <li>Process enhancements</li>
            <li>Interact with all levels of management and front-line team members</li>
        </ul>

        <i>Responsibilities</i>
        <ul>
            <li>Responsible for all aspects of AutoTA and WorkBrain daily inputs, including time coding and shift schedules</li>
            <li>Maintain current crew lists, processing overtime, shift swaps, and vacation with union represented bid lists</li>
            <li>Provide front desk telephone coverage, including walk up inquiries</li>
            <li>Greet and direct base team members and external visitors</li>
            <li>Maintain digital signage across the Tulsa Base</li>
        </ul>

            <br>
        <h5>HOC Coordinator</h5>
        <h5>American Airlines</h5>
        <p>June 2016 to January 2018</p>

        <p>
            I was a member of the Maintenance Team within the Integrated Operations Division.  I was responsible for providing
            clerical administration support for the Tulsa Maintenance Base team members.
        </p>

        <p>
        <i>Leadership:</i>
        <ul>
            <li>Compliance</li>
            <li>Safety/VPP</li>
            <li>Led the ATP program</li>
            <li>Training/Compliance audits</li>
            <li>Tool calibration audits</li>
            <li>SOP (technical) writing</li>
            <li>Process enhancements</li>
            <li>Interact with all levels of management and front-line team members</li>
        </ul>

        <i>Responsibilities</i>
        <ul>
            <li>Initiating and maintaining mechanics' transfer of reassignment 541 forms</li>
            <li>Monitor and edit mechanics, painters, and cleaners time and attendance with SharePoint and AutoTA</li>
            <li>Weekly scheduling of classes</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Education
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h5>Udemy Courses</h5>
        <ul>
        <li>
            <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">The Web Developer Bootcamp 2021</a>
        </li>
        <li><a href="https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert/">
            The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert
        </a></li>
        <li><a href="https://www.udemy.com/course/the-advanced-web-developer-bootcamp/">
        The Advanced Web Developer Bootcamp
        </a></li>
        <li><a href="https://www.udemy.com/course/php-for-complete-beginners-includes-msql-object-oriented/">
        PHP for Beginners - Become a PHP Master - CMS Project
        </a></li>
        </ul>
            <h5>Tulsa Community College:</h5>
            <h5>Computer Science</h5>
            <p>Completed 37 of 60 hours for degree</p>

            <h5>High School</h5>
            <h5>American Christian Academy</h5>
            <p>Graduated in 2005</p>
      </div>
    </div>
  </div>
</div>
<br>
<h3>Links</h3> <hr>
<a class="btn btn-primary mb-5" href="https://www.linkedin.com/in/jake-hollcroft-96028a202/">LinkedIn</a>
<a class="btn btn-primary mb-5" href="https://github.com/JakeHollcroft">GitHub</a>
<a class="btn btn-primary mb-5" href="https://codepen.io/jakehollcroft">CodePen</a>


